{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" /> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  </head>
  <body>
    <main>
      <div class="container">
        <h2 class="my-4">Example Output</h2>
        <a href="{% url 'download_merged_dataset' table %}" class="btn btn-primary mb-3">Download Merged Dataset</a>
        

            {% if table == 'cysdb'%}
            <div class="table-responsive">
              <table class="table table-striped table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>Level</th>
                <th>Protein ID</th>
                <th>Cysteine ID</th>
                <th>ResID</th>
                <th>Dataset ID</th>
                <th>Identified</th>
                <th>Identified Dataset</th>
                <th>Ligandable</th>
                <th>Ligandable Dataset</th>
                <th>Cell Line Dataset</th>
                <th>Redox Datasets</th>
                <th>Hyperreactive</th>
                <th>Hyperreactive Dataset</th>
              </tr>
            </thead>
            <tbody>
              {% for row in last_30 %}
              <tr>
                <td>{{ row.level }}</td>
                <td>{{ row.proteinid }}</td>
                <td>{{ row.cysteineid }}</td>
                <td>{{ row.resid }}</td>
                <td>{{ row.datasetid }}</td>
                <td>{{ row.identified }}</td>
                <td>{{ row.identified_datasets }}</td>
                <td>{{ row.ligandable }}</td>
                <td>{{ row.ligandable_datasets }}</td>
                <td>{{ row.cell_line_datasets }}</td>
                <td>{{ row.redox_datasets }}</td>
                <td>{{ row.hyperreactive }}</td>
                <td>{{ row.hyperreactive_datasets }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% elif table == 'hyperreactive' %}
        <div class="table-responsive">
          <table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Protein ID</th>
            <th>Cysteine ID</th>
            <th>ResID</th>
            <th>Weerapana Mean</th>
            <th>Palafox Mean</th>
            <th>Vinogradova Mean</th>
            <th>Cysdb Mean</th>
            <th>Cysdb Standard Deviation</th>
            <th>Cysdb Median</th>
            <th>Cysdb Reactivity Category</th>
            <th>Hyperreactive</th>
            <th>Castellon Mean</th>
          </tr>
        </thead>
        <tbody>
          {% for row in last_30 %}
          <tr>
            <td>{{ row.proteinid }}</td>
            <td>{{ row.cysteineid }}</td>
            <td>{{ row.resid }}</td>
            <td>{{ row.weerapana_mean }}</td>
            <td>{{ row.palafox_mean }}</td>
            <td>{{ row.vinogradova_mean }}</td>
            <td>{{ row.cysdb_mean }}</td>
            <td>{{ row.cysdb_stdev }}</td>
            <td>{{ row.cysdb_median }}</td>
            <td>{{ row.cysdb_reactivity_category }}</td>
            <td>{{ row.hyperreactive }}</td>
            <td>{{ row.castellon_mean }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
        {% endif %} 


       

      </div>
    </main>
  </body>
</html>
{% endblock %}
